backtest_results/
config-private-binance.json
config-hyperliquid.json
config-private-nfi.json
data/
freqaimodels/
hyperopts/
hyperopt_results/
logs/
notebooks/
__pycache__/
uv.lock
hyperopt.lock
*.html
*.png
*.sqlite
.vscode/