backtest_results/
config.json
config-hyperliquid.json
config_private.json
data/
freqaimodels/
hyperopts/
hyperopt_results/
logs/
notebooks/
__pycache__/
uv.lock
hyperopt.lock
*.html
*.png
*.sqlite
.vscode/